@charset "utf-8";
/* ---------- General Layout ---------- */
body {
	background:#fff url(../images/bg.png);
	font-family:"宋体";
}
a {
	color: #808080;
}
a:hover, a:focus {
	color: #333;
}
a:active {
	color: #ccc;
}
input{
	padding:6px;
}
#header {
	background:none;
}
.user #name-and-slogan {
	padding-top:0;
}
#site-name a {
	color:#333;
}
#page, #main-wrapper {
	background:none;
}
#page-wrapper, #footer-wrapper {
	background:none;
}
.front #footer-wrapper {
	background:none;
}
#site-name span {
	display:block;
	width:264px;
	height:50px;
	background:url(../images/logo.png) no-repeat;
	text-indent:-999em;
}
.user #site-name span {
	width:283px;
	height:71px;
	background:url(../images/logo-user.png) no-repeat;
}
.page-user-password .user #site-name span {
	background:url(../images/logo-pwd.png) no-repeat;
}
.user #content {
	display: block;
	width: 490px;
	margin:0 auto 0;
	padding-top:100px;
}
.user h1#page-title {
	margin:15px 0 0;
	text-indent:52px;
	height:58px;
	line-height:58px;
	background:#000;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.user h1#page-title, .user #content .region {
	width:auto;
}
.user #block-system-main .content {
	margin:0;
	background:#fff;
}
.user #block-system-main form {
	width:390px;
	margin:0 auto;
	padding:40px 0 10px;
	overflow:hidden;
}
.user #edit-actions input {
	margin-right:0;
}
.user #user-login label, .user #user-login .description {
	display:none;
}
.user .form-item {
	margin-top:0;
	padding:12px 12px 12px 60px;
}
.user .site-url {
	clear: both;
	margin:45px 0;
	text-align:right;
	background:url(../images/bg-site-url.png) no-repeat 343px 50%;
	color:#808080;
}
.user input.form-text {
	width:310px;
	border:none;
	margin:0;
	background:none;
	font-weight: bold;
}
.user .form-item-name {
	background:#c3effe url(../images/bg-username.png) no-repeat 0 0;
}
.user .form-item-pass {
	background:#cbcbcb url(../images/bg-password.png) no-repeat 0 0;
}
.user #edit-actions {
	float:right;
	margin-top:0;
	padding-top:0;
}
.user #edit-actions input {
	border-radius:0;
	background:#000;
	color:#fff;
	padding:8px 21px;
}
.actions .forget-password {
	float:left;
	padding:8px 0 8px 65px;
}
.user #block-system-main #user-pass {
	position:relative;
	padding-top:70px;
}
.user #user-pass .form-item-name label {
	position:absolute;
	top:30px;
	left:0;
}
.user #user-pass .form-item-name {
	margin-bottom:3em;
}
/* Header */
#name-and-slogan {
	padding-top:71px;
}
#secondary-menu-links {
	margin-top:77px;
}
#secondary-menu-links li a {
	padding:6px 15px;
	font-weight:bold;
}
#secondary-menu-links li.first a {
	background:#7c7c7c;
}
#secondary-menu-links li.last a {
	color:#7c7c7c;
}
#breadcrumb, .tabs ul.tabs, #welcome-message .inner, #content .region, #page-title {
	width:960px;
	margin: 0 auto;
}
#main {
	width:auto;
}
#content .section {
	padding:0;
}
#welcome-message {
	background:#000;
	color:#fff;
	padding:23px 0;
	overflow:hidden;
	font-weight:bold;
}
#welcome-message .left {
	float:left;
	padding-left:9px;
}
#welcome-message .right {
	float:right;
	color:#f6608a;
}
.tabs ul.primary li{
	margin-right:1px;
}
.tabs ul.primary li a {
	border:none;
	background:none;
	text-shadow:0 0 0 navy;
	font-weight:bold;
	padding:3px 14px 4px;
	border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.tabs ul.primary li.active a {
	background:#000;
	color:#fff;
	border:none;
}
ul.secondary li {
	border:none;
}
.tabs ul.secondary li {
	padding:0 10px 0 0;
	margin:0 0 24px;
}
.tabs ul.secondary li a {
	color:#7e7e7e;
	font-weight:bold;
}
.tabs ul.secondary li a.active {
	background:#797979 url(../images/tab-arrow.png) no-repeat 100% 50%;
	color:#000;
	padding:8px 30px 8px 16px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
}
#primary-tab {
	padding:25px 0;
}
#secondary-tab {
}
#block-system-main {
	clear:both;
}
tr td, tr th {
	border-width:0;
	padding: 8px 26px 9px;
}
table {
	font-size:14px;
}
table tr th {
	background: #bfbfbf;
	color:#000;
}
tbody {
    border-top: 4px solid #fff;
}
tr.even, tr.odd{
	background:#f1eff0;
}
.views-field-nothing-1{
	text-align:center;
}
span.form-required {
	color:#000;
}
.user span.form-required {
	color:#fff;
}
.breadcrumb {
	padding:40px 0;
}
fieldset {
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bfbfbf;
  background:#f6f4f5;
}
fieldset legend {
	text-indent:0;
	background:#bfbfbf;
	height:36px;
	line-height:36px;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border:1px solid #bfbfbf;
	font-size:12px;
}
.form-item label{
	color:#000;
	height: 24px;
    line-height: 24px;
}
.fieldset-legend {
	display:inline-block;
	padding:0 34px 0 10px;
	background:#f6f4f5 url(../images/fieldset-legend.png) no-repeat 100% 50%;
	color:#0db0e7;
	font-weight:bold;
}
.fieldset-wrapper {
    margin-top: 45px;
}
.form-item .description {
    color:#7d7d7d;
}
input.form-submit, a.button{
	background:#000;
	color:#fff;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border:none;
	letter-spacing:5px;
	font-weight:bold;
	padding: 5px 12px 5px 17px;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #333;
}
fieldset fieldset{
	clear:both;
	background:none;
	border:none;
	margin:0;
}
fieldset fieldset legend{
	background:none;
	border:none;
	height: 20px;
    line-height: 20px;
}
fieldset fieldset legend .fieldset-legend{
	background:none;
	color:#000;
	padding:0;
	font-size: 12px;
}
fieldset fieldset .fieldset-wrapper{
	margin-top:15px;
	margin-bottom: 6px;
	padding:0;
}
fieldset fieldset .container-inline-date .date-padding{
	padding:0;
}
#edit-field-entry-date-und-0-value-datepicker-popup-0{
	font-size:12px;
}
.form-radios .form-item{
	float:left;
	margin-right:22px;
}
#edit-field-fullname-und-0-value{
	width:150px;
}
.form-item-field-gender-und{
	overflow:hidden;
}
#edit-field-age-und-0-value{
	width:66px;
}
#edit-field-entry-date-und-0-value-datepicker-popup-0,
#edit-field-tel-und-0-value,
#edit-field-postal-code-und-0-value{
	width:414px;
}
.form-item-field-entry-date-und-0-value-date .description{
	display:none;
}
.breadcrumb a{
	color:#000;
}
.breadcrumb .active-breadcrumb{
	color:#7d7d7d;
}
.vertical-tabs ul.vertical-tabs-list li.selected,
.vertical-tabs {
	background:#f6f4f5;
}
.form-item .description strong{
	color:#000;
	font-weight:bold;
}
.form-managed-file .form-file, .form-managed-file .form-submit{
	margin-right:12px;
}
.vertical-tabs ul.vertical-tabs-list{
	width:160px;
	margin: -1px 0 -1px -160px;
}
div.vertical-tabs{
	margin: 1em 0 1em 160px;
}
.vertical-tabs ul.vertical-tabs-list .selected strong{
	color:#0db0e7;
}
.vertical-tabs ul.vertical-tabs-list li{
	background:#bfbfbf;
	border-color:#808080;
	border-left-color:#bfbfbf;
}
.vertical-tabs ul.vertical-tabs-list .last{
	border-bottom-color:#bfbfbf;
}
.vertical-tabs ul.vertical-tabs-list li a{
	color:#000;
	padding:8px 18px 8px 20px;
	font-size: 12px;
}
.vertical-tabs ul.vertical-tabs-list li a:hover{
	outline:0;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane{
	padding:0;
}
.form-type-textarea .description{
	margin-top:14px;
}